<div class="container">
  <div class="row">

    <% items.each do |item| %>
      <div class="col s12 m6 l3">
        <div class="item">

          <div class="card grey lighten-5">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= item.thumbnail_url %>" class="activator"/>
            </div>

            <div class="card-content white">
              <span class="card-title activator grey-text text-darken-4">
                <%= item.title %><i class="material-icons right">more_vert</i>
              </span>
            </div>

            <div class="card-reveal blue-grey">
              <span class="card-title white-text">
                <%= item.title %><i class="material-icons right">close</i>
              </span>
              <span class="white-text">
                <p>Creator: <%= item.author %></p>
                <p><%= item.blurb %></p>
              </span>
            </div>
          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>
